// Code based on https://nikitahl.com/style-range-input-css

.audioTrack {
  display: block;
  width: 100%;
  appearance: none;
  height: 0.25rem;
  background-color: #d4d4de;
  border-radius: 0.125rem;
  background-image: linear-gradient(90deg, #ff832b, #ffc02b);
  background-repeat: no-repeat;

  // Duplicate code is necessary because vendor-specific selectors can't be comma-seperated
  &::-webkit-slider-thumb {
    appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: #ffc02b;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
    border: none;
  }

  &::-moz-range-thumb {
    appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: #ffc02b;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
    border: none;
  }

  &::-ms-thumb {
    appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: #ffc02b;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
    border: none;
  }

  &::-webkit-slider-thumb:hover {
    background-color: hsl(42, 100%, 38%);
  }

  &::-moz-range-thumb:hover {
    background-color: hsl(42, 100%, 38%);
  }

  &::-ms-thumb:hover {
    background-color: hsl(42, 100%, 38%);
  }

  /* Input Track */
  &::-webkit-slider-runnable-track {
    appearance: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
  }

  &::-moz-range-track {
    appearance: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
  }

  &::-ms-track {
    appearance: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
  }
}
